body {
  font-family: "Roboto", sans-serif;
}

/* nav */

.navbar .img-container {
  display: flex;
  align-items: center;
}

.navbar .img-container img {
  max-height: 50px;
  width: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.call {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;
  font-size: 1.5rem;
}

.call > a {
  text-decoration: none;
  color: #173081;
}

/* CTA */

.cta-1 {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #4d6aa4;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-2 {
  position: fixed;
  bottom: 110px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-name {
  line-height: 1.2;
}

/* hero */

.hero-container {
  position: relative; /* Posiziona il contenitore in modo che il testo possa essere posizionato sopra */
}

.hero {
  height: 50vh; /* Altezza fissa */
  width: 100%; /* Larghezza piena */
  object-fit: cover; /* Assicura che l'immagine riempia l'area senza distorsioni */
  object-position: center 60%; /* Posiziona l'immagine tra il centro e il fondo */
}

.hero-text {
  position: absolute; /* Posiziona il testo sopra l'immagine */
  bottom: 20px; /* Distanza dal fondo dell'immagine */
  color: white; /* Colore del testo bianco */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi un'ombra al testo per migliorare la leggibilità */
  padding: 1.5rem 4rem;
  font-size: clamp(2rem, 4vw, 4rem);
  width: fit-content;
  background-color: #173081;
  border-radius: 0 6px 0 0;
  margin: 0;
  right: 0px;
}

section {
  padding-top: 3rem;
}

.section-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #e93809;
  font-weight: 500;
}

.section-subtitle {
  color: #173081;
  font-weight: 800;
}

.chi-sono-img-1 {
  transform: translateX(-100px) translateY(75px);
}

li {
  margin-top: 15px;
}
